.panel-heading {
  font-size: medium;
  padding-bottom: 0;
}
.d-inline {
  display: inline !important;
  font-size: smaller;
}
.bold {
  font-weight: bold;
}
.panel {
  margin-bottom: 0;
}
.panel-body {
  padding-top:0;
}
.padding {
  padding-right:5px;
}
