  <ul class="list-unstyled">
    <li class="media mb-2 border border-left-0 border-top-0 border-right-0 pb-2" *ngFor="let event of events | async ">
      <div class="media-body">
        <div class="panel">
          <div class="panel-heading">
            <a href="#">
              {{event.title}}
            </a>
          </div>
          <div class="panel-body">
            <div>
              <div class="d-inline text-info bold padding">From</div>
              <div class="d-inline padding">{{event.startTime | format: "MM/DD/YY h:mma" }}</div>
              <div class="d-inline text-info bold padding">To</div>
              <div class="d-inline">{{event.endTime | format: "MM/DD/YY h:mma"}}</div>
            </div>
            <address-read-only [address]="event"></address-read-only>
            <div *ngIf="event.description">
              <hr/>
              <span class="text-info">{{getDescription(event)}}</span>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>

