.panel-heading {
  font-size: medium;
  padding-bottom: 0;
}
.d-inline {
  display: inline !important;
   padding-right:5px;
}
.bold {
  font-weight: bold;
}
.panel {
  margin-bottom: 0;
}
.panel-body {
  padding-top:0;
}
.small-font {
  font-size: 11px;
}
