.modal {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    animation-name: slidein;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}
