<section>
    <div class="container">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Register</h1>
                <hr />
            </div>
        </div>
        <div class="container-page">
            <div class="row">
                <div class="col-md-6 col-sm-10 col-xs-12">
                    <form class="form-group" [formGroup]="registerForm" (ngSubmit)="onSubmit($event)">
                        <input-group name="email"
                                     formControlName="email"
                                     fa-icon="envelope"
                                     label="E-mail"
                                     placeholder="Your e-mail address">
                            <validation-messages>
                              <invalid-value key="required" message="The e-mail address is required"></invalid-value>
                              <invalid-value key="email" message="Invalid e-mail address"></invalid-value>
                            </validation-messages>
                        </input-group>
                        <input-group name="password" *ngIf="!isExternal"
                                     type="password"
                                     formControlName="password"
                                     fa-icon="lock"
                                     label="Password"
                                     placeholder="Your password">
                            <validation-messages>
                              <invalid-value key="required" message="Password is required"></invalid-value>
                              <invalid-value key="minlength" message="Password must have at least 10 characters"></invalid-value>
                            </validation-messages>
                        </input-group>
                        <div class="row">
                            <input-simple name="firstName"
                                          formControlName="firstName"
                                          class="col-sm-6 col-xs-12"
                                          fa-icon="users"
                                          label="First Name"
                                          placeholder="Your first name">
                                <validation-messages>
                                  <invalid-value key="required" message="First name is required"></invalid-value>
                                </validation-messages>
                            </input-simple>
                            <input-simple name="lastName"
                                          formControlName="lastName"
                                          class="col-sm-6 col-xs-12"
                                          label="Last Name"
                                          placeholder="Your last name">
                                <validation-messages>
                                  <invalid-value key="required" message="Last name is required"></invalid-value>
                                </validation-messages>
                            </input-simple>
                        </div>
                        <address [addressForm]="registerForm.get('address')"></address>
                        <validation-errors [model-state]="modelState"></validation-errors>
                        <div class="row">
                            <div class="col-xs-6">
                                <button type="submit"
                                        [disabled]="registering"
                                        value="Register" class="btn btn-primary sr-button btn-xl">
                                    Register
                                </button>
                            </div>
                            <div class="col-xs-6">
                                <button [disabled]="registering"
                                        class="btn btn-xl btn-success sr-button pull-right" routerLink="/account/login" routerLinkActive="active">Sign In</button>
                            </div>
                        </div>
                        <spinner *ngIf="registering"></spinner>
                    </form>
                </div>
                <div id="verse" class="col-md-6 col-sm-2">
                    <image-slider width="370" [height]="600" interval="5"
                                  filter="assets/images/{0}.jpg"
                                  [source]='["verse1","verse2","verse3","verse4","verse5"]'>
                    </image-slider>
                </div>
            </div>
        </div>
    </div>
</section>
