<button (click)="updateCalendar()">Update Calendar</button>
<button (click)="deleteCalendar()">Delete Calendar</button>
<div>
  <input name="calendar" [(ngModel)]="calendar" />
</div>
<spinner *ngIf="loading"></spinner>
<validation-errors [model-state]="modelState"></validation-errors>
<sw-scheduler [editMode]="editMode"
              resourceOrientation="none"
              [getNewEvent]="getNewEvent"
              [(view)]="view" [(date)]="date"
              (selectEvent)="onSelectEvent($event)"
              (addEvent)="onAddEvent($event)"
              (updateEvent)="onUpdateEvent($event)"
              (closeEventModal)="onCloseEventModal()"
              (viewChanged)="onViewChanged($event)"
              (dateChanged)="onDateChanged($event)">
  <sw-calendar name="Room 1" [events]="roomOne">
  </sw-calendar>
  <sw-calendar [name]="calendarName" [events]="roomTwo">
  </sw-calendar>
  <sw-calendar [name]="calendar" *ngFor="let calendar of calendars">
  </sw-calendar>
  <ng-template schedulerEventTemplate let-data="data" *ngIf="enabled">
    <div><i>{{data.subject}}</i></div>
    <div>{{data.resourceId}}</div>
    <div>{{data.appointmentId}}</div>
  </ng-template>
  <ng-template schedulerReadSeletedEventTemplate let-selectedEvent="selectedEvent">
    <div class="row">
        <div class="col-xs-6">
            <label class="pull-right">ID</label>
        </div>
        <div class="col-xs-6">
            <span class="text-info">{{selectedEvent.id}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <label class="pull-right">Subject</label>
        </div>
        <div class="col-xs-6">
            <span class="text-info">{{selectedEvent.subject}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <label class="pull-right">Start Time</label>
        </div>
        <div class="col-xs-6">
            <span class="text-info">{{selectedEvent.start | format:"LLLL"}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <label class="pull-right">End Time</label>
        </div>
        <div class="col-xs-6">
            <span class="text-info">{{selectedEvent.end | format:"LLLL"}}</span>
        </div>
    </div>
    <div class="modal-footer">
      <spinner *ngIf="processingEvent"></spinner>
      <ng-container *ngIf="!processingEvent">
        <button type="button" *ngIf="!readOnly" (click)="edit()" class="btn btn-success">
            Edit
        </button>
        <button *ngIf="!readOnly" type="button" (click)="delete(selectedEvent)" class="btn btn-danger">
          <span class="glyphicon glyphicon-remove"></span>Delete
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <span class="glyphicon glyphicon-log-out"></span>Close
        </button>
      </ng-container>
    </div>
  </ng-template>
  <ng-template schedulerEditSeletedEventTemplate let-selectedEvent="selectedEvent">
    <form class="form-group" #form="ngForm" (ngSubmit)="onSave()" ngNativeValidate>
          <validation-errors [model-state]="eventModelState"></validation-errors>
          <div class="modal-footer">
            <spinner *ngIf="processingEvent"></spinner>
            <ng-container *ngIf="!processingEvent">
              <button type="submit" [disabled]="!form.form.valid" *ngIf="!readOnly" class="btn btn-success">
                <span class="glyphicon glyphicon-ok"></span>Save
              </button>
              <button *ngIf="!readOnly" type="button" (click)="delete(selectedEvent)" class="btn btn-danger">
                <span class="glyphicon glyphicon-remove"></span>Delete
              </button>
              <button type="button" class="btn btn-default" data-dismiss="modal">
                <span class="glyphicon glyphicon-log-out"></span>Close
              </button>
            </ng-container>
          </div>
        </form>
  </ng-template>
</sw-scheduler>

