<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="pr-wrap" [ngClass]="{'pr-wrap': true, 'show-pass-reset': isPassReset}">>
                <pass-reset *ngIf="isPassReset"></pass-reset>
            </div>
            <div class="wrap">
                <p class="form-title">
                    Sign In
                </p>
                <form class="login" (ngSubmit)="onSubmit($event)" #form="ngForm">
                    <input type="text"  [(ngModel)]="user.userName" name="userName" placeholder="Username" required />
                    <input type="password" [(ngModel)]="user.password" name="password" placeholder="Password" required />
                    <button type="submit"
                            [disabled]="processing"
                            value="Sign In" class="btn btn-primary btn-sm btn-block">
                        <i class="fa fa-sign-in"></i> Login
                    </button>
                    <div class="remember-forgot">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" [(ngModel)]="user.rememberMe" name="rememberMe"/>
                                        Remember Me
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6 forgot-pass-content">
                                <a href="#" (click)="togglePassReset($event)" class="forgot-pass">Forgot Password</a>
                            </div>
                        </div>
                        <div class="row">
                            <validation-errors class="col-xs-12" [model-state]="modelState"></validation-errors>
                        </div>
                    </div>

                    <div class="onl_login">
                        <div class="row onl_social_buttons">
                            <div class="col-xs-6">
                                <button id="facebook"
                                        (click)='loginExternal("Facebook")'
                                        [disabled]="processing"
                                        name="facebook" value="Facebook"
                                        class="btn btn-lg btn-block onl_btn-facebook provider"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        title="Log in using your Facebook account">
                                    <i class="fa fa-facebook fa-2x"></i>
                                    <span class="hidden-xs"></span>
                                </button>
                            </div>
                            <div class="col-xs-6">
                                <button id="google"
                                        (click)='loginExternal("Google")'
                                        [disabled]="processing"
                                        name="google" value="Google"
                                        class="btn btn-lg btn-block onl_btn-google-plus provider"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        title="Log in using your Google Plus account">
                                    <i class="fa fa-google-plus fa-2x"></i>
                                    <span class="hidden-xs"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="sign-up" *ngIf="!processing">
                        <div class="col-xs-8 sign-up-label">Don't have an account?</div>
                        <div class="col-xs-4 pull-right">
                            <a class="sign-up" routerLink="../register" routerLinkActive="active">Sign Up</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
