#wrapper {
  width: 100%;
}
#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  background-color:transparent;
}
@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    border-left: 1px solid #e7e7e7;
  }
}
