nav {
    margin-bottom: 0;
}
.navbar-top-links {
  margin-right: 0;
}
.navbar-top-links li {
  display: inline-block;
}
.navbar-top-links li:last-child {
  margin-right: 15px;
}
.navbar-top-links li a {
  padding: 15px;
  min-height: 50px;
}
.navbar-top-links .dropdown-menu li {
  display: block;
}
.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}
.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}
.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-calendar
{
  width: 200px;
  min-width: 0;
}
@media (min-width: 768px) {
  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-calendar
  {
    margin-left: auto;
  }
}
/*.navbar-top-links a.dropdown-toggle:hover {
    -ms-transform: scale(2, 2);

    -webkit-transform: scale(2, 2);

    transform: scale(2, 2);
    -ms-transition: transform 2s;
    -o-transition: transform 2s;
    -webkit-transition: transform 2s;
    transition: transform 2s;
}*/
