 #panel {
   position:absolute;
   top:50px;
   padding-top: 10px;
   padding-bottom: 10px;
   left:0;
   bottom:0;
   width:310px;
   height: 100%;
   padding-left: 10px;
   padding-right: 10px;
   overflow-y: auto;
}
