<button (click)="setTemplate()">Set Template</button>
<jqx-minical (previewEvent)="onPreviewEvent($event)"
             (newEvent)="onNewEvent($event)"
             (updateEvent)="onUpdateEvent($event)">
  <ng-template let-data="data" jqxEventTemplate *ngIf="enabled">
    <div><i>{{data.appointment.subject}}</i></div>
  </ng-template>
  <jqx-event *ngFor="let event of events"
           [id]="event.id"
           [subject]="event.name"
           [description]="event.description"
           [start]="event.startTime"
           [end]="event.endTime"
           [instructor]="event.instructor"
           [calendarId]="event.group.id"
           [calendar]="event.group.name"
           [repeat]="event.repeat"
           [repeatDay]="event.repeatDay">
  </jqx-event>
</jqx-minical>
<validation-errors [model-state]="modelState"></validation-errors>

