<jqx-minical>
  <ng-template let-event="event" jqxEventTemplate *ngIf="enabled">
    <div>{{event.name}}</div>
  </ng-template>
  <jqx-event *ngFor="let event of events"
           [id]="event.id"
           [subject]="event.name"
           [description]="event.description"
           [start]="event.startTime"
           [end]="event.endTime"
           [instructor]="event.instructor"
           [calendarId]="event.group.id"
           [calendar]="event.group.name"
           [repeat]="event.repeat"
           [repeatDay]="event.repeatDay">
  </jqx-event>
</jqx-minical>
<validation-errors [model-state]="modelState"></validation-errors>

