<spinner *ngIf="loading"></spinner>
<validation-errors [model-state]="modelState"></validation-errors>
<sw-scheduler [editMode]="editMode"
              [ensureEventVisible]="ensureEventVisibleId"
              resourceOrientation="none"
              [getNewEvent]="getNewEvent"
              [(view)]="view" [date]="date"
              (selectEvent)="onSelectEvent($event)"
              (addEvent)="onAddEvent($event)"
              (updateEvent)="onUpdateEvent($event)"
              (closeEventModal)="onCloseEventModal()"
              (viewChanged)="onViewChanged($event)"
              (dateChanged)="onDateChanged($event)">
  <sw-calendar *ngFor="let calendar of calendars" [name]="calendar.name" [events]="calendar.events">
  </sw-calendar>
  <ng-template schedulerEventTemplate let-data="data" *ngIf="enabled">
    <div><i>{{data.subject}}</i></div>
    <div>{{data.resourceId}}</div>
    <div><span>{{data.appointmentId}}</span>&nbsp;<span>{{data.id}}</span></div>
  </ng-template>
  <ng-template schedulerReadSeletedEventTemplate let-selectedEvent="selectedEvent">
    <preview-event [event]="selectedEvent"></preview-event>
    <div class="modal-footer">
      <spinner *ngIf="processingEvent"></spinner>
      <ng-container *ngIf="!processingEvent">
        <button type="button" *ngIf="!readOnly" (click)="edit()" class="btn btn-success">
            Edit
        </button>
        <button *ngIf="!readOnly" type="button" (click)="delete(selectedEvent)" class="btn btn-danger">
          <span class="glyphicon glyphicon-remove"></span>Delete
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <span class="glyphicon glyphicon-log-out"></span>Close
        </button>
      </ng-container>
    </div>
  </ng-template>
  <ng-template schedulerEditSeletedEventTemplate let-selectedEvent="selectedEvent">
    <form class="form-group" #form="ngForm" (ngSubmit)="onSave()" ngNativeValidate>
          <edit-event [event]="selectedEvent"></edit-event>
          <validation-errors [model-state]="eventModelState"></validation-errors>
          <div class="modal-footer">
            <spinner *ngIf="processingEvent"></spinner>
            <ng-container *ngIf="!processingEvent">
              <button type="submit" [disabled]="!form.form.valid" *ngIf="!readOnly" class="btn btn-success">
                <span class="glyphicon glyphicon-ok"></span>Save
              </button>
              <button *ngIf="!readOnly && selectedEvent.id > 0" type="button" (click)="delete(selectedEvent)" class="btn btn-danger">
                <span class="glyphicon glyphicon-remove"></span>Delete
              </button>
              <button type="button" class="btn btn-default" data-dismiss="modal">
                <span class="glyphicon glyphicon-log-out"></span>Close
              </button>
            </ng-container>
          </div>
        </form>
  </ng-template>
</sw-scheduler>

