<jqx-scheduler (newEvent)="onNewEvent($event)"
               (previewEvent)="onPreviewEvent($event)">
</jqx-scheduler>
<!-- Modal -->
<div #eventModal class="modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">{{activeEvent.name}}</h4>
      </div>
      <div class="modal-body">
        <preview-event [event]="activeEvent" *ngIf="!editMode"></preview-event>
        <form class="form-group" #form="ngForm" (ngSubmit)="onSave()" ngNativeValidate>
          <edit-event [event]="activeEvent"  *ngIf="editMode"></edit-event>
          <validation-errors [model-state]="modelState"></validation-errors>
          <div class="modal-footer">
            <spinner *ngIf="loading"></spinner>
            <ng-container *ngIf="!loading">
            <button type="button" *ngIf="!editMode && !readOnly" (click)="edit()" class="btn btn-success">
                            Edit
            </button>
            <button type="submit" [disabled]="!form.form.valid || loading" *ngIf="editMode && !readOnly" class="btn btn-success">
              <span class="glyphicon glyphicon-ok"></span>Save
            </button>
            <button *ngIf="!readOnly" type="button" (click)="delete()" class="btn btn-danger" [disabled]="loading">
              <span class="glyphicon glyphicon-remove"></span>Delete
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <span class="glyphicon glyphicon-log-out"></span>Close
            </button>
            </ng-container>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
