<div class="container">
    
        <div class="jumbotron" style="box-shadow: 2px 2px 4px #000000;">
            <h2 class="text-center">Thank You For Registering</h2>
            <h3 class="text-center text-success">Please validate your e-mail</h3>
            <p class="text-info text-center text-primary">
                We sent you a confirmation e-mail to <b>{{email}}</b>.
            </p>
            <p class="text-info text-center">
                To continue using our application, you'll need to confirm your email address. 
            </p>
        </div>
    
</div>