<div *ngIf="loadingEvent">
  <spinner></spinner>
  <br/>
</div>
<form class="form-group" [formGroup]="eventForm" (ngSubmit)="onSave()" ngNativeValidate>
  <ng-container *ngIf="!loadingEvent">
    <input-group name="name"
                 formControlName="subject"
                 fa-icon="calendar"
                 label="Event Name"
                 placeholder="The event name"
                 [attr.disabled]="disabled">
        <err-required message="The event name is required"></err-required>
    </input-group>
    <div class="row" formGroupName="time">
        <div class="col-sm-6 col-xs-12">
            <label>Start Time</label>
            <time-picker name="startTime"
                         formControlName="start"
                         [showTimeOnly]="!isNewEvent && isRecurring"
                         [format]="isRecurring ? {momentFormat:'hh:mm a'} : {momentFormat:'lll'}">
                <validation-messages>
                  <invalid-value key="required" message="The start time is required"></invalid-value>
                  <invalid-value key="invalidTime" message="Start time must be in the future"></invalid-value>
                </validation-messages>
            </time-picker>
        </div>
        <div class="col-sm-6 col-xs-12">
            <label>End Time</label>
            <time-picker name="endTime"
                         formControlName="end"
                         [showTimeOnly]="!isNewEvent && isRecurring"
                         [format]="(isRecurring) ? {momentFormat:'hh:mm a'} : {momentFormat:'lll'}">
                <validation-messages>
                  <invalid-value key="required" message="The end time is required"></invalid-value>
                  <invalid-value key="invalidTime" message="End time must be in the future and greater than start time"></invalid-value>
                </validation-messages>
            </time-picker>
        </div>
    </div>
    <input-simple name="description" type="textarea"
                  formControlName="description"
                  label="Description"
                  [attr.disabled]="disabled"
                  placeholder="The event description">
    </input-simple>

    <recurring-event [recurringEventForm]="eventForm.get('recurring')"></recurring-event>

    <div class="panel panel-info">
        <div class="panel-heading">Event Location</div>
        <div class="panel-body">
            <place [venue]="venue" (venueChange)="onVenueChange($event)" [attr.disabled]="disabled"></place>
            <venue [item]="venue" [photo]="venuePhoto" *ngIf="venue"></venue>
            <ng-container *ngIf="!venue">
              <div class="row">
                <div class="col-sm-6">
                    <input type="button" class="btn btn-info" [disabled]="disabled"
                           [value]="buttonText"
                           (click)="eventAtMainAddress()" />
                </div>
                <div class="col-sm-6">
                    <spinner *ngIf="loading"></spinner>
                    <address-read-only *ngIf="isAtMainAddress && !loading" [address]="address"></address-read-only>
                </div>
              </div>
              <address *ngIf="!isAtMainAddress" [addressForm]="eventForm.get('address')" class="address" [attr.disabled]="disabled"></address>
            </ng-container>
        </div>
    </div>

    <validation-errors [model-state]="eventModelState"></validation-errors>
    <div class="modal-footer">
      <spinner *ngIf="processingEvent"></spinner>
      <ng-container *ngIf="!processingEvent">
        <button type="submit" class="btn btn-success">
          <span class="glyphicon glyphicon-ok"></span>Save
        </button>
        <button *ngIf="event.id > 0" type="button" (click)="delete()" class="btn btn-danger">
          <span class="glyphicon glyphicon-remove"></span>Delete
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <span class="glyphicon glyphicon-log-out"></span>Close
        </button>
      </ng-container>
    </div>
  </ng-container>
</form>
