<div *ngIf="loadingEvent">
  <spinner></spinner>
  <br/>
</div>
<form class="form-group" #form="ngForm" (ngSubmit)="onSave(form)" ngNativeValidate>
  <ng-container *ngIf="!loadingEvent">
    <input-group name="name"
                 [(ngModel)]="eventCopy.subject"
                 fa-icon="calendar"
                 label="Event Name"
                 placeholder="The event name"
                 [disabled]="disabled"
                 required>
        <err-required message="The event name is required"></err-required>
    </input-group>
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <label>Start Time</label>
            <time-picker name="startTime"
                         [(ngModel)]="eventCopy.start"
                         required
                         [showTimeOnly]="eventCopy.recurrencePattern"
                         [format]="(eventCopy.recurrencePattern) ? {momentFormat:'hh:mm a'} : {momentFormat:'lll'}">
                <err-required message="The start time is required"></err-required>
            </time-picker>
        </div>
        <div class="col-sm-6 col-xs-12">
            <label>End Time</label>
            <time-picker name="endTime"
                         [(ngModel)]="eventCopy.end"
                         required
                         [showTimeOnly]="eventCopy.recurrencePattern"
                         [format]="(eventCopy.recurrencePattern) ? {momentFormat:'hh:mm a'} : {momentFormat:'lll'}">
                <err-required message="The end time is required"></err-required>
            </time-picker>
        </div>
    </div>
    <input-simple name="description" type="textarea"
                  [(ngModel)]="eventCopy.description"
                  label="Description"
                  [disabled]="disabled"
                  placeholder="The event description">
    </input-simple>

    <recurring-event [viewModel]="recurring"></recurring-event>

    <div class="panel panel-info">
        <div class="panel-heading">Event Location</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <input type="button" class="btn btn-info" [disabled]="disabled"
                           [value]="buttonText"
                           (click)="eventAtMainAddress()" />
                </div>
                <div class="col-sm-6">
                    <spinner *ngIf="loading"></spinner>
                    <address-read-only *ngIf="isAtMainAddress && !loading" [address]="eventCopy.address"></address-read-only>
                </div>
            </div>
            <address *ngIf="!isAtMainAddress" [address]="eventCopy.address" showCountry="false" class="address" [disabled]="disabled"></address>
        </div>
    </div>

    <validation-errors [model-state]="eventModelState"></validation-errors>
    <div class="modal-footer">
      <spinner *ngIf="processingEvent"></spinner>
      <ng-container *ngIf="!processingEvent">
        <button type="submit" class="btn btn-success">
          <span class="glyphicon glyphicon-ok"></span>Save
        </button>
        <button *ngIf="event.id > 0" type="button" (click)="delete()" class="btn btn-danger">
          <span class="glyphicon glyphicon-remove"></span>Delete
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <span class="glyphicon glyphicon-log-out"></span>Close
        </button>
      </ng-container>
    </div>
  </ng-container>
</form>
