<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>

            <a class="navbar-brand page-scroll" href="#page-top"><img src="assets/images/logo.jpg" class="img-circle" />Today's Verse</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#group-meeting">Group Meetings</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
                <li>
                    <a class="page-scroll" href="javascript:void(0)" (click)="logOut($event)">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<bg-image-slider path="assets/images" [images]='["poster.jpg","poster2.jpg","poster3.jpg","poster4.jpg","poster5.jpg"]'></bg-image-slider>
<header>
    <div class="header-content">
        <div class="header-content-inner">

            <h1 id="homeHeading">John 4:14</h1>
            <hr>
            <p>
                But whoever drinks of the water that I shall give him will never thirst.<br />
                But the water that I shall give him will become in him a fountain of
                water springing up into everlasting life.
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Enter Site</a>
        </div>
    </div>
</header>
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Your place to find small group meetings!</h2>
                <hr class="light">
                <p class="text-faded">
                    We can help you find the small group meeting or prayer gathering of your choice!
                    Check the group meetings in your area, subscribe to group meeting, host group meeting, check in and so much more you can do!!
                </p>
                <a href="#group-meeting" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
            </div>
        </div>
    </div>
</section>
<section class="no-padding" id="group-meeting">
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
            <div class="col-sm-4">
                <a routerLink="/meetings/" routerLinkActive="active" class="portfolio-box">
                    <img src="assets/images/hostevent.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Group Meeting
                            </div>
                            <div class="project-name">
                                Host Group Meeting
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a  (click)="goToSearchEvents($event)" href="#" class="portfolio-box">
                    <img src="assets/images/searchevents.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Group Meeting
                            </div>
                            <div class="project-name">
                                Search Group Meetings
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a class="portfolio-box">
                    <img src="assets/images/checkin.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Group Meeting
                            </div>
                            <div class="project-name">
                                Check In
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Your Profile</h2>
            <a href="#" class="btn btn-default btn-xl sr-button">Update Now!</a>
        </div>
    </div>
</aside>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Do you have any questions? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x sr-contact"></i>
                <p>813-456-6789</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                <p><a href="mailto:swaksoftcom@gmail.com">feedback@swaksoft.org</a></p>
            </div>
        </div>
    </div>
</section>
